@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
html,
body {
  color-scheme: dark;
  background-color: black;
  overflow-x: clip;
  color: #efefef;
  cursor: none;
  /* overflow-x: hidden; */
}

.font-mono {
  font-family: "JetBrains Mono", "Menlo", "Monaco", monospace;
}

.montreal {
  font-family: var(--font-montreal);
}

.basement {
  font-family: var(--font-basement);
}


.follower {
  width: 66px;
  height: 66px;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9999;
}

.award {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 99;
}

.crosshair-dot {
  background-color: transparent;
}

body:has(.hover-div:hover) .crosshair-dot {
  background-color: white !important;
}

.round-button {
  padding: max(20px, 1.04vw) max(32px, 4vw);
  line-height: 1.98vw;
  font-size: max(16px, 1.25vw);
}

@media (max-width: 767px) {
  .round-button {
    padding: max(24px, 1.25vw) max(32px, 4vw);
  }
}

.marquee {
  animation: marquee 90s linear infinite;
}

.marquee3 {
  animation: marquee 90s linear infinite;
  animation-direction: reverse;
}

.bg-Gradient-Loader {
  background-clip: text !important;
  background: linear-gradient(90deg, #ff4d00 0, #ff4d00 50%, #efefef 50%);
  background-position-x: 100%;
  background-size: 200% 100% !important;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.pinnedText {
  font-size: max(55px, 5.2083333333vw);
}

.pinnedImagesDiv {
  height: max(395px, 29.5833333333vw);
  font-size: max(18px, 1.25vw);
}

@media (max-width: 641px) {
  :root,
  html,
  body {
    cursor: auto !important;
  }
}

@media (min-width: 641px) {
  .pinnedImagesDiv {
    width: max(256px, 47.3958333333vw);
  }
}

.awards-title {
  font-size: max(40px, 4.1666vw);
}

@media (max-width: 360px) {
  .awards-title {
    font-size: 34px;
  }
}

.pinnedSticker {
  font-size: max(16px, 1.25vw);
}

.underlined:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  transform: scaleX(0);
  /* top:90%; */
  bottom: 5%;
  background: #ff4d00;
  height: .06em;
  transition: transform 0.425s ease-in-out;
  will-change: transform;
  transform-origin: top right;
}

.underlined:hover:before,
.underlined:focus:before,
.underlined:active:before {
  transform: scaleX(1);
  transform-origin: top left;
}

.underlined-white:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  transform: scaleX(0);
  /* top:90%; */
  bottom: 1%;
  background: #efefef;
  height: 2px;
  transition: transform 0.425s ease-in-out;
  will-change: transform;
  transform-origin: top right;
}

.underlined-white:hover:before,
.underlined-white:focus:before,
.underlined-white:active:before {
  transform: scaleX(1);
  transform-origin: top left;
}

.removePointerEvents {
  pointer-events: none !important;
}
/* 
.changingTextPinned {
  animation: fadeInUp 0.5s ease-out forwards; 
  opacity: 0;
  transform: translateY(30px);
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
} */